<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.min.css" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.min.js"></script>
<form action="." method="POST">
    {% csrf_token %} {{ form }} 
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
<script>
$(function() {
    $('#id_created').datetimepicker({
        format:'Y-m-d H:i:s',
        });
});
</script>